$primary-color: #f048ee;
$secondary-color: #f2c1f1;
$active-bg-color: #111;
$text-color: #333;
$font-stack: Helvetica, sans-serif;
$padding-horizontal: 16px;
$padding-vertical: 14px;
$border-radius: 5px;
$border-width: 2px;
$content-width: 80%;
$box-width: 50%;
$margin-bottom: 20px;
$font-size-base: 16px;
